.sliderContainer {
    width: 80%;
    margin: 0 auto;
  }
  
  .image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
  
  .slick-dots li button:before {
    color: #fff;
  }
  
  .slick-dots li.slick-active button:before {
    color: #f39c12;
  }
  